* {
    font-family: 'Poppins', sans-serif;
    color: black;
}

a, .nav-link .bg-sidebar i{
    color: black !important;
}


.nav-link:hover {
    transition: ease-in .3s;
    opacity: 0.1;

}

.sidebar {
    height: 100vh;
}

.bg-sidebar {
    background-color: #F0E1AE;
}

.size {
    margin-top: 64px;
    width: 124px;
    height: 124px;
    border-radius: 50%;
}

.color-admin {
    color: #FEAF00;
}