* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;

    background-color: #001F44;
    color: #fff;
    width: 320px;
    height: 100%;
}

.main-context {
    margin-left: 356px;
    overflow: hidden;
}

.nav-link {
    width: 240px;
    color: #fff;
    margin: auto;
}

.out {
    width: max-content;
    color: #A80000;
}

.sidebar figure .image-profile {
    margin-inline: auto;
    object-fit: cover;
    width: 208px;
    height: 50%;
    border-radius: 50%;
    border: 4px solid #00335E;

    margin-top: 32px;
}

.sidebar figure figcaption {
    margin-top: 16px;
    text-align: center;
    color: #00D2CC;
}

.quads {
    width: 320px;
    height: 320px;
    border-radius: 8px;
    background-color: #F3F3F3;
}
