{% load bootstrap5 %}
{% bootstrap_css %} 
{% bootstrap_javascript %}

{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet" />
    </style>
  </head>
  <body>
    <section class="row">
      
      <header class="col-lg-3 align-items-center">

        <nav class="sidebar d-flex flex-column">

          <figure class="d-flex flex-column">
            <img class="image-profile" src="{% static 'img/perfil.jpg' %}" alt="Foto de perfil">
            <figcaption>Antonio Claudio</figcaption>
          </figure>

          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="{% url 'accounts:index' %}" class="nav-link" href="#">
                <i class="fa fa-calendar-o "></i>
                Mural
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'accounts:profile' %}" class="nav-link" href="#">
                <i class="fa fa-cog mr-4"></i>
                Perfil
              </a>
            </li>
          </ul>

          <a href="{% url 'accounts:logout' %}" class="nav-link out" href="#">
            <i class="fa fa-sign-out"></i>
            Sair
          </a>          
        </nav>

      </header>

      <main class="col-lg-9 main-context">
        {% block context %}{% endblock %}
       </main>
    </section>
  </body>
</html>
