{% extends 'base.html' %} 

{% block context %}
<section class="mt-5 me-5">
    <div class="d-flex justify-content-between aligh-items-center">
        <h2>
            Aniversariantes
            <i class="fa fa-birthday-cake" ></i>
        </h2>
        <a href="{% url 'accounts:register' %}" class="btn btn-success">
            Adicionar
            <i class="fa fa-plus-circle"></i>
        </a>
    </div>
    <hr>
</section>
<div class="d-flex gap-4 flex-wrap flex-grow-1 aligh-items-center">
    {% for people in birthdays %}
    <div class="card" style="width: 16rem;">
        <img src="../static/img/perfil.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{people.nome}}</h5>
          <p class="card-text">{{people.data_nascimento}}</p>
        </div>
    </div>
    {% endfor %}
</div>

    
    

{% endblock %}