{% extends 'base.html' %} 
{% load static %}

{% block context %}
<section class="mt-5 me-5">
    <div class="d-flex justify-content-between aligh-items-center">
        <h2>
            Aniversariantes
            <i class="fa fa-birthday-cake" ></i>
        </h2>
        <a href="{% url 'accounts:register' %}" class="btn btn-success">
            Adicionar
            <i class="fa fa-plus-circle"></i>
        </a>
    </div>
    <hr>
</section>



<div class="row row-cols-1 row-cols-md-3 g-4">

    {% for people in  birthdays %}
    <div class="col" style="width: 300px;">

      <div class="card">

        {% if people.imagem %}
            <img src="{{ people.imagem.url }}"  style="height: 250px; width: 100%; object-fit: cover;">
        {% else %}
            <img src="{% static 'img/perfil.jpg' %}"  style="height: 250px; width: 100%; object-fit: cover;">
        {% endif %}

        <div class="card-body"> 
          <h5 class="card-title">
            {{ people.nome }}
          </h5>
          <p class="card-text">
            {{ people.data_nascimento }}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
    
{% endblock %}