{% extends 'base.html' %} 

{% block context %}
<section class="mt-5 me-5">
    <div class="d-flex justify-content-between aligh-items-center">
        <h2>
            Aniversariantes
            <i class="fa fa-birthday-cake" ></i>
        </h2>
        <a href="{% url 'accounts:register' %}" class="btn btn-success">
            Adicionar
            <i class="fa fa-plus-circle"></i>
        </a>
    </div>
    <hr>
</section>
{% for people in birthdays %}
    {{people.nome}}
    {{people.data_nascimento}}
{% endfor %}
{% endblock %}