{% load bootstrap5 %}
{% bootstrap_css %} 
{% bootstrap_javascript %}

{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
  </head>
  <body>
    <section class="h-100 d-flex flex-row">
      <form method="post" class="w-50 m-auto">
        {% csrf_token %}
        <div class="card w-50 mx-auto border-0">
          <div class="card-body">
            <h5 class="card-title">Login</h5>
            {% for field in form %} 
            <div class="form-group">
              {{ field.label_tag }} 
              {{ field }}
              {{ field.errors }} 
            </div>
            {% endfor %}
            <div class="d-flex mt-3 justify-content-center">
              <a href="{% url 'accounts:index' %}" type="button" class="btn btn-success mx-5 mb-3">
                 Entrar
              </a>
            </div>
          </div>
        </div>
      </form>
      <div class="w-50">
        <img class="w-100 h-100" src="{% static 'img/bg-login.jpg' %}" alt="">
      </div>
    </section>
    
  </body>
</html>
