{% extends 'base.html' %} 

{% block context %}
<section class="mt-5 me-5">

    <h2>
      Cadastrar-se
    </h2>
    <hr>
 
</section>

<form
  method="post"
  class="mt-5 d-flex flex-column align-items-center"
  enctype="multipart/form-data"
>
  {% csrf_token %}
  <div class="quads d-flex justify-content-center">
    <i class="mt-5 fa fa-user-circle-o"></i>
  </div>

  <fieldset>
    {{ form.non_field_errors }} 
    
    {% for field in form %}    
      {{ field.label_tag }} 
      {{ field }} 
      {{ field.errors }}
    {% endfor %}

    <div class="d-flex mt-4 justify-content-center mb-3">
      <button type="submit" class="btn btn-success mx-5">Salvar</button>
    </div>
  </fieldset>

</form>

{% endblock %}