@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-home {
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .5)) ,url('../../public/bg-home.jpg');
    background-position: center;
    background-size: cover;
}

.bg-footer {
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .5)) ,url('../../public/bg-footer.jpg');
    background-position: top;
    background-size: cover;
}